header {
  padding: 3rem;
  font-family: "IM Fell English SC", serif;
  font-size: 30px;
}

body {
  color: rgb(255, 255, 255);
  background-image: url(./images/Matrix1.png);
  background-size:cover;
  margin: auto;
  font-family: "Special Elite", system-ui;
  font-size: 40px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

